@font-face {
  font-family: 'bioprint';
  src: url('../fonts/bioprint.eot?28001816');
  src: url('../fonts/bioprint.eot?28001816#iefix') format('embedded-opentype'),
       url('../fonts/bioprint.woff2?28001816') format('woff2'),
       url('../fonts/bioprint.woff?28001816') format('woff'),
       url('../fonts/bioprint.ttf?28001816') format('truetype'),
       url('../fonts/bioprint.svg?28001816#bioprint') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bioprint';
    src: url('../fonts/bioprint.svg?28001816#bioprint') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bioprint";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-009-dumbbell-11:before { content: '\e808'; } /* '' */
.icon-010-weight-5:before { content: '\e809'; } /* '' */
.icon-011-weight-4:before { content: '\e80a'; } /* '' */
.icon-012-beverage:before { content: '\e80b'; } /* '' */
.icon-013-strenght:before { content: '\e80c'; } /* '' */
.icon-014-dumbbell-10:before { content: '\e80d'; } /* '' */
.icon-015-timer:before { content: '\e80e'; } /* '' */
.icon-016-dumbbell-9:before { content: '\e80f'; } /* '' */
.icon-017-weight-3:before { content: '\e810'; } /* '' */
.icon-018-dumbbell-8:before { content: '\e811'; } /* '' */
.icon-019-gym-1:before { content: '\e812'; } /* '' */
.icon-020-weight-2:before { content: '\e813'; } /* '' */
.icon-021-dumbbell-7:before { content: '\e814'; } /* '' */
.icon-022-locker:before { content: '\e815'; } /* '' */
.icon-023-tasks:before { content: '\e816'; } /* '' */
.icon-024-smartwatch:before { content: '\e817'; } /* '' */
.icon-025-rings:before { content: '\e818'; } /* '' */
.icon-026-running-1:before { content: '\e819'; } /* '' */
.icon-027-jumping-rope:before { content: '\e81a'; } /* '' */
.icon-028-scale:before { content: '\e81b'; } /* '' */
.icon-029-bottle-1:before { content: '\e81c'; } /* '' */
.icon-030-weight-1:before { content: '\e81d'; } /* '' */
.icon-031-dumbbell-6:before { content: '\e81e'; } /* '' */
.icon-032-bag:before { content: '\e81f'; } /* '' */
.icon-033-proteins-1:before { content: '\e820'; } /* '' */
.icon-034-gym:before { content: '\e821'; } /* '' */
.icon-035-dumbbell-5:before { content: '\e822'; } /* '' */
.icon-036-bottle:before { content: '\e823'; } /* '' */
.icon-037-measuring-tape:before { content: '\e824'; } /* '' */
.icon-038-dumbbell-4:before { content: '\e825'; } /* '' */
.icon-039-stationary-bicycle:before { content: '\e826'; } /* '' */
.icon-040-gold-medal:before { content: '\e827'; } /* '' */
.icon-041-proteins:before { content: '\e828'; } /* '' */
.icon-042-steroids:before { content: '\e829'; } /* '' */
.icon-043-running:before { content: '\e82a'; } /* '' */
.icon-044-dumbbell-3:before { content: '\e82b'; } /* '' */
.icon-045-horizontal-bar:before { content: '\e82c'; } /* '' */
.icon-046-dumbbell-2:before { content: '\e82d'; } /* '' */
.icon-047-stretching-punching-ball:before { content: '\e82e'; } /* '' */
.icon-048-athletic-strap:before { content: '\e82f'; } /* '' */
.icon-049-standing-punching-ball:before { content: '\e830'; } /* '' */
.icon-050-stairs:before { content: '\e831'; } /* '' */
.icon-051-skipping-rope:before { content: '\e832'; } /* '' */
.icon-052-punching-bag-1:before { content: '\e833'; } /* '' */
.icon-053-iron-shoots:before { content: '\e834'; } /* '' */
.icon-054-trainer-rod:before { content: '\e835'; } /* '' */
.icon-055-press-simulator:before { content: '\e836'; } /* '' */
.icon-056-music-player:before { content: '\e837'; } /* '' */
.icon-057-gymnastic-ball:before { content: '\e838'; } /* '' */
.icon-058-gymnast-rings:before { content: '\e839'; } /* '' */
.icon-059-phytonutrients:before { content: '\e83a'; } /* '' */
.icon-060-punching-bag:before { content: '\e83b'; } /* '' */
.icon-061-bosu-ball:before { content: '\e83c'; } /* '' */
.icon-062-sports-shirt:before { content: '\e83d'; } /* '' */
.icon-063-list:before { content: '\e83e'; } /* '' */
.icon-064-step-platform:before { content: '\e83f'; } /* '' */
.icon-065-sportswear:before { content: '\e840'; } /* '' */
.icon-066-barbell-1:before { content: '\e841'; } /* '' */
.icon-067-gymnast-mat:before { content: '\e842'; } /* '' */
.icon-068-exercise-bike:before { content: '\e843'; } /* '' */
.icon-069-barbell:before { content: '\e844'; } /* '' */
.icon-070-stopwatch:before { content: '\e845'; } /* '' */
.icon-071-shorts:before { content: '\e846'; } /* '' */
.icon-072-dumbbell-1:before { content: '\e847'; } /* '' */
.icon-073-heart:before { content: '\e848'; } /* '' */
.icon-074-fitness-bracelet:before { content: '\e849'; } /* '' */
.icon-075-brawn:before { content: '\e84a'; } /* '' */
.icon-076-shoe:before { content: '\e84b'; } /* '' */
.icon-077-plastic-bottle:before { content: '\e84c'; } /* '' */
.icon-078-dressing-room:before { content: '\e84d'; } /* '' */
.icon-079-no-fast-food:before { content: '\e84e'; } /* '' */
.icon-080-weight:before { content: '\e84f'; } /* '' */
.icon-081-fresh-juice:before { content: '\e850'; } /* '' */
.icon-082-scales:before { content: '\e851'; } /* '' */
.icon-083-waist:before { content: '\e852'; } /* '' */
.icon-084-shower:before { content: '\e853'; } /* '' */
.icon-085-dumbbell:before { content: '\e854'; } /* '' */
.icon-086-arm:before { content: '\e855'; } /* '' */
.icon-alarm-clock:before { content: '\e856'; } /* '' */
.icon-apple:before { content: '\e857'; } /* '' */
.icon-basketball:before { content: '\e858'; } /* '' */
.icon-bike:before { content: '\e859'; } /* '' */
.icon-calendar:before { content: '\e85a'; } /* '' */
.icon-diet:before { content: '\e85b'; } /* '' */
.icon-dietary:before { content: '\e85c'; } /* '' */
.icon-energy-snack:before { content: '\e85d'; } /* '' */
.icon-football:before { content: '\e85e'; } /* '' */
.icon-good-diet:before { content: '\e85f'; } /* '' */
.icon-heart:before { content: '\e860'; } /* '' */
.icon-measuring-tape:before { content: '\e861'; } /* '' */
.icon-no-fast-food:before { content: '\e862'; } /* '' */
.icon-running-machine:before { content: '\e864'; } /* '' */
.icon-scales:before { content: '\e865'; } /* '' */
.icon-skip-rope:before { content: '\e866'; } /* '' */
.icon-sleep:before { content: '\e867'; } /* '' */
.icon-stationary-bike:before { content: '\e868'; } /* '' */
.icon-stopwatch:before { content: '\e869'; } /* '' */
.icon-to-do-list:before { content: '\e86a'; } /* '' */
.icon-trainers:before { content: '\e86b'; } /* '' */
.icon-training-watch:before { content: '\e86c'; } /* '' */
.icon-vegetables-juice:before { content: '\e86d'; } /* '' */
.icon-vitamin:before { content: '\e86e'; } /* '' */
.icon-water:before { content: '\e86f'; } /* '' */
.icon-weight:before { content: '\e870'; } /* '' */
.icon-weightlifting:before { content: '\e871'; } /* '' */
.icon-whistle:before { content: '\e872'; } /* '' */
.icon-yin-yang:before { content: '\e873'; } /* '' */
.icon-aromatherapy:before { content: '\e874'; } /* '' */
.icon-bamboo-sticks:before { content: '\e875'; } /* '' */
.icon-baseball:before { content: '\e876'; } /* '' */
.icon-bath:before { content: '\e877'; } /* '' */
.icon-bath-1:before { content: '\e878'; } /* '' */
.icon-bathing:before { content: '\e879'; } /* '' */
.icon-bathrobe:before { content: '\e87a'; } /* '' */
.icon-beauty:before { content: '\e87b'; } /* '' */
.icon-bicycle:before { content: '\e87c'; } /* '' */
.icon-body-treatments:before { content: '\e87d'; } /* '' */
.icon-breath-control:before { content: '\e87e'; } /* '' */
.icon-capsule:before { content: '\e87f'; } /* '' */
.icon-chair-for-treatments:before { content: '\e880'; } /* '' */
.icon-count-calories:before { content: '\e881'; } /* '' */
.icon-dancer:before { content: '\e882'; } /* '' */
.icon-drink-water:before { content: '\e883'; } /* '' */
.icon-emotional:before { content: '\e884'; } /* '' */
.icon-environmental:before { content: '\e885'; } /* '' */
.icon-exercise:before { content: '\e886'; } /* '' */
.icon-exercising:before { content: '\e887'; } /* '' */
.icon-extreme-sports:before { content: '\e888'; } /* '' */
.icon-face-mask:before { content: '\e889'; } /* '' */
.icon-face-treatments:before { content: '\e88a'; } /* '' */
.icon-feel-free:before { content: '\e88b'; } /* '' */
.icon-fitness:before { content: '\e88c'; } /* '' */
.icon-flower:before { content: '\e88d'; } /* '' */
.icon-foot-bath:before { content: '\e88e'; } /* '' */
.icon-fresh-smoothie:before { content: '\e88f'; } /* '' */
.icon-full-energy:before { content: '\e890'; } /* '' */
.icon-groceries:before { content: '\e891'; } /* '' */
.icon-gym:before { content: '\e892'; } /* '' */
.icon-hand-care:before { content: '\e893'; } /* '' */
.icon-harmony:before { content: '\e894'; } /* '' */
.icon-healthy-nutrition:before { content: '\e895'; } /* '' */
.icon-healthy-shakes:before { content: '\e896'; } /* '' */
.icon-hot-herbal:before { content: '\e897'; } /* '' */
.icon-jumping:before { content: '\e898'; } /* '' */
.icon-ladder:before { content: '\e899'; } /* '' */
.icon-lightness:before { content: '\e89a'; } /* '' */
.icon-lotus:before { content: '\e89b'; } /* '' */
.icon-love-yourself:before { content: '\e89c'; } /* '' */
.icon-man:before { content: '\e89d'; } /* '' */
.icon-mask:before { content: '\e89e'; } /* '' */
.icon-massage:before { content: '\e89f'; } /* '' */
.icon-massage-oil:before { content: '\e8a0'; } /* '' */
.icon-meditation:before { content: '\e8a1'; } /* '' */
.icon-meditation-1:before { content: '\e8a2'; } /* '' */
.icon-meditation-2:before { content: '\e8a3'; } /* '' */
.icon-meditation-3:before { content: '\e8a4'; } /* '' */
.icon-meditation-4:before { content: '\e8a5'; } /* '' */
.icon-music:before { content: '\e8a6'; } /* '' */
.icon-natural-energy:before { content: '\e8a7'; } /* '' */
.icon-no-alcohol:before { content: '\e8a8'; } /* '' */
.icon-nutrionist:before { content: '\e8a9'; } /* '' */
.icon-occupation:before { content: '\e8aa'; } /* '' */
.icon-organic-food:before { content: '\e8ab'; } /* '' */
.icon-pool:before { content: '\e8ac'; } /* '' */
.icon-reading:before { content: '\e8ad'; } /* '' */
.icon-relaxing:before { content: '\e8ae'; } /* '' */
.icon-running:before { content: '\e8af'; } /* '' */
.icon-sauna:before { content: '\e8b0'; } /* '' */
.icon-sauna-1:before { content: '\e8b1'; } /* '' */
.icon-schedule:before { content: '\e8b2'; } /* '' */
.icon-shower:before { content: '\e8b3'; } /* '' */
.icon-skincare:before { content: '\e8b4'; } /* '' */
.icon-social:before { content: '\e8b5'; } /* '' */
.icon-solarium:before { content: '\e8b6'; } /* '' */
.icon-spa:before { content: '\e8b7'; } /* '' */
.icon-spa-effect:before { content: '\e8b8'; } /* '' */
.icon-spa-room:before { content: '\e8b9'; } /* '' */
.icon-spa-salon:before { content: '\e8ba'; } /* '' */
.icon-spa-tools:before { content: '\e8bb'; } /* '' */
.icon-spiritual:before { content: '\e8bc'; } /* '' */
.icon-stick-man:before { content: '\e8bd'; } /* '' */
.icon-stone-massage:before { content: '\e8be'; } /* '' */
.icon-strong:before { content: '\e8bf'; } /* '' */
.icon-sunbath:before { content: '\e8c0'; } /* '' */
.icon-surfing:before { content: '\e8c1'; } /* '' */
.icon-swimming:before { content: '\e8c2'; } /* '' */
.icon-table-of-treatments:before { content: '\e8c3'; } /* '' */
.icon-tea-ceremony:before { content: '\e8c4'; } /* '' */
.icon-towel:before { content: '\e8c5'; } /* '' */
.icon-training:before { content: '\e8c6'; } /* '' */
.icon-treatments:before { content: '\e8c7'; } /* '' */
.icon-treatment-specialist:before { content: '\e8c8'; } /* '' */
.icon-t-shirt:before { content: '\e8c9'; } /* '' */
.icon-vitamins:before { content: '\e8ca'; } /* '' */
.icon-walking:before { content: '\e8cb'; } /* '' */
.icon-weight-loss:before { content: '\e8cc'; } /* '' */
.icon-wellness-center:before { content: '\e8cd'; } /* '' */
.icon-wellness-coach:before { content: '\e8ce'; } /* '' */
.icon-wellness-group:before { content: '\e8cf'; } /* '' */
.icon-wellness-tourism:before { content: '\e8d0'; } /* '' */
.icon-yoga:before { content: '\e8d1'; } /* '' */
.icon-apple-1:before { content: '\e8d2'; } /* '' */
.icon-basketball-1:before { content: '\e8d3'; } /* '' */
.icon-boxing:before { content: '\e8d4'; } /* '' */
.icon-cardiogram:before { content: '\e8d5'; } /* '' */
.icon-cardiogram-1:before { content: '\e8d6'; } /* '' */
.icon-carrot:before { content: '\e8d7'; } /* '' */
.icon-cup:before { content: '\e8d8'; } /* '' */
.icon-dumbbell:before { content: '\e8d9'; } /* '' */
.icon-fish:before { content: '\e8da'; } /* '' */
.icon-fitness-1:before { content: '\e8db'; } /* '' */
.icon-football-1:before { content: '\e8dc'; } /* '' */
.icon-massage-1:before { content: '\e8dd'; } /* '' */
.icon-medal:before { content: '\e8de'; } /* '' */
.icon-sauna-2:before { content: '\e8df'; } /* '' */
.icon-shoe:before { content: '\e8e0'; } /* '' */
.icon-shower-1:before { content: '\e8e1'; } /* '' */
.icon-smartwatch:before { content: '\e8e2'; } /* '' */
.icon-sport-bag:before { content: '\e8e3'; } /* '' */
.icon-sportswear:before { content: '\e8e4'; } /* '' */
.icon-stopwatch-1:before { content: '\e8e5'; } /* '' */
.icon-swimmer:before { content: '\e8e6'; } /* '' */
.icon-table-tennis:before { content: '\e8e7'; } /* '' */
.icon-tennis:before { content: '\e8e8'; } /* '' */
.icon-tennis-ball:before { content: '\e8e9'; } /* '' */
.icon-treadmill:before { content: '\e8ea'; } /* '' */
.icon-volleyball:before { content: '\e8eb'; } /* '' */
.icon-weight-1:before { content: '\e8ec'; } /* '' */
.icon-weight-2:before { content: '\e8ed'; } /* '' */
.icon-weightlifter:before { content: '\e8ee'; } /* '' */
.icon-wheat:before { content: '\e8ef'; } /* '' */
.icon-25-kilos-weight:before { content: '\e8f0'; } /* '' */
.icon-apple-and-a-clipboard-with-notes-for-gymnast-diet-control:before { content: '\e8f1'; } /* '' */
.icon-apple-and-a-scale-outlines:before { content: '\e8f2'; } /* '' */
.icon-apple-silhouette-with-heart-shape:before { content: '\e8f3'; } /* '' */
.icon-bike-of-a-gymnast:before { content: '\e8f4'; } /* '' */
.icon-bodybuilder-carrying-dumbbell:before { content: '\e8f5'; } /* '' */
.icon-bodybuilder-carrying-weight-on-one-hand-outline:before { content: '\e8f6'; } /* '' */
.icon-burger-and-apple-on-a-balancing-scale:before { content: '\e8f7'; } /* '' */
.icon-burger-prohibition-sign-for-gymnast:before { content: '\e8f8'; } /* '' */
.icon-circular-jumping-bed:before { content: '\e8f9'; } /* '' */
.icon-clipboard-silhouette-with-arrow-pointing-up:before { content: '\e8fa'; } /* '' */
.icon-clipboard-with-supplement-bottle-outline:before { content: '\e8fb'; } /* '' */
.icon-dart-on-the-objective-center-on-an-apple:before { content: '\e8fc'; } /* '' */
.icon-drinking-bottle-with-cap-variant:before { content: '\e8fd'; } /* '' */
.icon-dumbbells-couple-silhouette:before { content: '\e8fe'; } /* '' */
.icon-dumbbell-variant-outline:before { content: '\e8ff'; } /* '' */
.icon-dumbbell-variant-outline-1:before { content: '\e900'; } /* '' */
.icon-dumbbell-with-weights-outline:before { content: '\e901'; } /* '' */
.icon-exercise-handle-tools:before { content: '\e902'; } /* '' */
.icon-female-gymnast-measuring-her-waist:before { content: '\e903'; } /* '' */
.icon-female-waist-reduction:before { content: '\e904'; } /* '' */
.icon-fork-and-knife-variant:before { content: '\e905'; } /* '' */
.icon-fork-with-a-carrot-outline:before { content: '\e906'; } /* '' */
.icon-fruit-diet:before { content: '\e907'; } /* '' */
.icon-gym-ball-with-parallel-stripes:before { content: '\e908'; } /* '' */
.icon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats:before { content: '\e909'; } /* '' */
.icon-gym-equipment-variant-outline:before { content: '\e90a'; } /* '' */
.icon-gymnast:before { content: '\e90b'; } /* '' */
.icon-gymnast-abdominal-flexion:before { content: '\e90c'; } /* '' */
.icon-gymnast-apple-diet-with-natural-supplements:before { content: '\e90d'; } /* '' */
.icon-gymnast-balancing-from-the-floor:before { content: '\e90e'; } /* '' */
.icon-gymnast-balancing-on-handbar:before { content: '\e90f'; } /* '' */
.icon-gymnast-bars-tool:before { content: '\e910'; } /* '' */
.icon-gymnast-control-of-diet-and-size-measures:before { content: '\e911'; } /* '' */
.icon-gymnast-control-of-heart-beats:before { content: '\e912'; } /* '' */
.icon-gymnast-diet:before { content: '\e913'; } /* '' */
.icon-gymnast-diet-control-card:before { content: '\e914'; } /* '' */
.icon-gymnast-diet-food:before { content: '\e915'; } /* '' */
.icon-gymnast-diet-list-on-a-clipboard-and-a-carrot-on-a-fork:before { content: '\e916'; } /* '' */
.icon-gymnast-drink-bottle-and-an-apple:before { content: '\e917'; } /* '' */
.icon-gymnast-in-frontal-flexion-posture:before { content: '\e918'; } /* '' */
.icon-gymnast-in-gym-practicing-strengthen-exercise:before { content: '\e919'; } /* '' */
.icon-gymnast-inverted-on-a-stand:before { content: '\e91a'; } /* '' */
.icon-gymnast-lying-practicing-excercise-with-a-ball-in-hands:before { content: '\e91b'; } /* '' */
.icon-gymnast-making-abdominals-to-strengthen-abdominal-muscles:before { content: '\e91c'; } /* '' */
.icon-gymnast-muscular-arm-outline-with-a-timer:before { content: '\e91d'; } /* '' */
.icon-gymnast-on-hands-and-one-knee-rising-one-leg-to-back:before { content: '\e91e'; } /* '' */
.icon-gymnast-posture:before { content: '\e91f'; } /* '' */
.icon-gymnast-posture-1:before { content: '\e920'; } /* '' */
.icon-gymnast-practice:before { content: '\e921'; } /* '' */
.icon-gymnast-practice-1:before { content: '\e922'; } /* '' */
.icon-gymnast-practice-2:before { content: '\e923'; } /* '' */
.icon-gymnast-practicing-abdominal-exercises:before { content: '\e924'; } /* '' */
.icon-gymnast-practicing-excercise-with-dumbbells:before { content: '\e925'; } /* '' */
.icon-gymnast-practicing-pilates-on-a-big-ball:before { content: '\e926'; } /* '' */
.icon-gymnast-silhouette:before { content: '\e927'; } /* '' */
.icon-gymnast-silhouette-showing-muscles:before { content: '\e928'; } /* '' */
.icon-gymnast-silhouette-standing-with-dumbbells:before { content: '\e929'; } /* '' */
.icon-gymnast-sportive-shoes-and-bottle-for-water:before { content: '\e92a'; } /* '' */
.icon-gymnast-sportive-shoe-side-view-outline-with-a-timer:before { content: '\e92b'; } /* '' */
.icon-gymnast-standing-black-silhouette:before { content: '\e92c'; } /* '' */
.icon-gymnast-standing-in-rotation-posture:before { content: '\e92d'; } /* '' */
.icon-gymnast-steroids-supplements-for-dumbbell-exercises:before { content: '\e92e'; } /* '' */
.icon-gymnast-stick-man-variant-carrying-dumbbell-side-view:before { content: '\e92f'; } /* '' */
.icon-gymnast-stick-man-variant-stretching-legs:before { content: '\e930'; } /* '' */
.icon-gymnast-stick-man-variant-using-exercise-ball:before { content: '\e931'; } /* '' */
.icon-gymnast-stretching-tool-side-view:before { content: '\e932'; } /* '' */
.icon-gymnast-using-gym-equipment:before { content: '\e933'; } /* '' */
.icon-gymnast-using-hand-bar:before { content: '\e934'; } /* '' */
.icon-gymnast-with-a-dumbbell-and-heart-shape-with-lifeline:before { content: '\e935'; } /* '' */
.icon-gymnast-with-a-hanging-boxing-bag:before { content: '\e936'; } /* '' */
.icon-gymnast-with-strong-muscles-in-full-body-view:before { content: '\e937'; } /* '' */
.icon-gym-objects-a-ball-and-a-dumbbell:before { content: '\e938'; } /* '' */
.icon-gym-rings-couple:before { content: '\e939'; } /* '' */
.icon-gym-smoking-prohibition-signal:before { content: '\e93a'; } /* '' */
.icon-heart-shape-outline-with-lifeline:before { content: '\e93b'; } /* '' */
.icon-heart-with-muscular-male-gymnast-arms:before { content: '\e93c'; } /* '' */
.icon-human-outline-flexing-muscles:before { content: '\e93d'; } /* '' */
.icon-juice-bottle-and-apple:before { content: '\e93e'; } /* '' */
.icon-jumping-rope:before { content: '\e93f'; } /* '' */
.icon-jumping-rope-variant:before { content: '\e940'; } /* '' */
.icon-jump-rope-with-a-timer:before { content: '\e941'; } /* '' */
.icon-lateral-flexion:before { content: '\e942'; } /* '' */
.icon-list-on-a-clipboard:before { content: '\e943'; } /* '' */
.icon-male-bodybuilder-silhouette-flexing-muscles:before { content: '\e944'; } /* '' */
.icon-male-gymnast-flexing-arms:before { content: '\e945'; } /* '' */
.icon-male-gymnast-legs-frontal-outline:before { content: '\e946'; } /* '' */
.icon-male-gymnast-outline-variant:before { content: '\e947'; } /* '' */
.icon-male-muscular-outline-with-apple:before { content: '\e948'; } /* '' */
.icon-male-silhouette-holding-dumbbell-variant:before { content: '\e949'; } /* '' */
.icon-male-silhouette-raising-dumbbell-of-small-size:before { content: '\e94a'; } /* '' */
.icon-male-silhouette-variant-showing-muscles:before { content: '\e94b'; } /* '' */
.icon-male-stick-man-with-legs-folded:before { content: '\e94c'; } /* '' */
.icon-male-weightlifter-outline-carrying-a-huge-dumbbell:before { content: '\e94d'; } /* '' */
.icon-man-flexing-his-muscles-silhouette:before { content: '\e94e'; } /* '' */
.icon-man-silhouette:before { content: '\e94f'; } /* '' */
.icon-man-silhouette-balancing-on-handbars:before { content: '\e950'; } /* '' */
.icon-man-weightlifter-carrying-dumbbell:before { content: '\e951'; } /* '' */
.icon-medallion-with-star-outline-variant:before { content: '\e952'; } /* '' */
.icon-medication-bottle-outline-and-heart-with-life-line:before { content: '\e953'; } /* '' */
.icon-medication-to-reduce-waist:before { content: '\e954'; } /* '' */
.icon-monitoring-heart-rate:before { content: '\e955'; } /* '' */
.icon-mountain-bike-outline-variant:before { content: '\e956'; } /* '' */
.icon-muscular-bodybuilder-outline:before { content: '\e957'; } /* '' */
.icon-muscular-bodybuilder-with-clock:before { content: '\e958'; } /* '' */
.icon-muscular-gymnast-arm-muscles-show:before { content: '\e959'; } /* '' */
.icon-muscular-gymnast-silhouette:before { content: '\e95a'; } /* '' */
.icon-muscular-gymnast-torso-outline:before { content: '\e95b'; } /* '' */
.icon-muscular-male-gymnast-exercising-with-two-dumbbells:before { content: '\e95c'; } /* '' */
.icon-muscular-male-gymnast-rising-a-dumbbell:before { content: '\e95d'; } /* '' */
.icon-muscular-male-gymnast-showing-his-muscles-standing-from-side-view:before { content: '\e95e'; } /* '' */
.icon-muscular-male-outline-with-heart-and-lifeline:before { content: '\e95f'; } /* '' */
.icon-muscular-male-torso-and-a-scale:before { content: '\e960'; } /* '' */
.icon-muscular-man-flexing-silhouette:before { content: '\e961'; } /* '' */
.icon-muscular-man-showing-his-muscles:before { content: '\e962'; } /* '' */
.icon-muscular-outline-of-a-bodybuilder-flexing:before { content: '\e963'; } /* '' */
.icon-pressure-dumbbell:before { content: '\e964'; } /* '' */
.icon-processed-food:before { content: '\e965'; } /* '' */
.icon-prohibition-of-steroids-for-gymnast:before { content: '\e966'; } /* '' */
.icon-protein-shake-and-dumbbell:before { content: '\e967'; } /* '' */
.icon-protein-shake-bottle-container:before { content: '\e968'; } /* '' */
.icon-round-weights-in-kilogram:before { content: '\e969'; } /* '' */
.icon-scale-for-body-weight-control:before { content: '\e96a'; } /* '' */
.icon-sexy-body-on-diet-with-apple:before { content: '\e96b'; } /* '' */
.icon-sitting-cartoon-man-carrying-dumbbell-side-view:before { content: '\e96c'; } /* '' */
.icon-slim-body-with-timer:before { content: '\e96d'; } /* '' */
.icon-sportive-prize-cup:before { content: '\e96e'; } /* '' */
.icon-sportive-shoe-outline-from-side-view:before { content: '\e96f'; } /* '' */
.icon-steroids-for-big-muscles:before { content: '\e970'; } /* '' */
.icon-stick-man-balancing-on-exercise-ball:before { content: '\e971'; } /* '' */
.icon-stick-man-lying-down-and-raising-one-leg:before { content: '\e972'; } /* '' */
.icon-stick-man-running-on-a-treadmill:before { content: '\e973'; } /* '' */
.icon-stick-man-side-view-raised-on-exercise-ball:before { content: '\e974'; } /* '' */
.icon-stick-man-side-view-weightlifting:before { content: '\e975'; } /* '' */
.icon-stick-man-variant-doing-push-ups:before { content: '\e976'; } /* '' */
.icon-stick-man-variant-doing-push-ups-from-the-ground:before { content: '\e977'; } /* '' */
.icon-striped-ball-and-a-ruler:before { content: '\e978'; } /* '' */
.icon-super-muscle-man-outline:before { content: '\e979'; } /* '' */
.icon-supplement-bottle-variant-outline:before { content: '\e97a'; } /* '' */
.icon-syringe-prohibition-sign-outline-variant:before { content: '\e97b'; } /* '' */
.icon-timer-on-a-dumbbells-tool-for-a-gymnast:before { content: '\e97c'; } /* '' */
.icon-timer-with-thick-outline-variant:before { content: '\e97d'; } /* '' */
.icon-treadmill-1:before { content: '\e97e'; } /* '' */
.icon-treadmill-machine-with-timer:before { content: '\e97f'; } /* '' */
.icon-treadmill-with-heart-beats-control-for-gymnasts:before { content: '\e980'; } /* '' */
.icon-verified-list-of-exercises-of-a-gymnast-on-a-clipboard:before { content: '\e981'; } /* '' */
.icon-weighing-scale-outline-with-25-kilos-weight:before { content: '\e982'; } /* '' */
.icon-weighing-scale-silhouette-variant:before { content: '\e983'; } /* '' */
.icon-weight-3:before { content: '\e984'; } /* '' */
.icon-yoga-posture:before { content: '\e985'; } /* '' */
.icon-alarm-clock-1:before { content: '\e986'; } /* '' */
.icon-apple-2:before { content: '\e987'; } /* '' */
.icon-athlete:before { content: '\e988'; } /* '' */
.icon-beef:before { content: '\e989'; } /* '' */
.icon-bicycle-1:before { content: '\e98a'; } /* '' */
.icon-blender:before { content: '\e98b'; } /* '' */
.icon-broccoli:before { content: '\e98c'; } /* '' */
.icon-calendar-1:before { content: '\e98d'; } /* '' */
.icon-check-list:before { content: '\e98e'; } /* '' */
.icon-chronometer:before { content: '\e98f'; } /* '' */
.icon-dumbbell-1:before { content: '\e990'; } /* '' */
.icon-dumbbell-2:before { content: '\e991'; } /* '' */
.icon-energy-drink:before { content: '\e992'; } /* '' */
.icon-fast-food:before { content: '\e993'; } /* '' */
.icon-fish-1:before { content: '\e994'; } /* '' */
.icon-forest:before { content: '\e995'; } /* '' */
.icon-goal:before { content: '\e996'; } /* '' */
.icon-hand-grip:before { content: '\e997'; } /* '' */
.icon-kettlebell:before { content: '\e998'; } /* '' */
.icon-lotus-position:before { content: '\e999'; } /* '' */
.icon-lotus-position-1:before { content: '\e99a'; } /* '' */
.icon-mat:before { content: '\e99b'; } /* '' */
.icon-measuring-tape-1:before { content: '\e99c'; } /* '' */
.icon-milk:before { content: '\e99d'; } /* '' */
.icon-milkshake:before { content: '\e99e'; } /* '' */
.icon-muscle:before { content: '\e99f'; } /* '' */
.icon-music-player:before { content: '\e9a0'; } /* '' */
.icon-no-drinks:before { content: '\e9a1'; } /* '' */
.icon-pilates:before { content: '\e9a2'; } /* '' */
.icon-protein:before { content: '\e9a3'; } /* '' */
.icon-pulse:before { content: '\e9a4'; } /* '' */
.icon-rest:before { content: '\e9a5'; } /* '' */
.icon-runner:before { content: '\e9a6'; } /* '' */
.icon-salad:before { content: '\e9a7'; } /* '' */
.icon-slim-down:before { content: '\e9a8'; } /* '' */
.icon-smartphone:before { content: '\e9a9'; } /* '' */
.icon-smartwatch-1:before { content: '\e9aa'; } /* '' */
.icon-sport-bag-1:before { content: '\e9ab'; } /* '' */
.icon-sport-shoe:before { content: '\e9ac'; } /* '' */
.icon-stationary-bike-1:before { content: '\e9ad'; } /* '' */
.icon-studying:before { content: '\e9ae'; } /* '' */
.icon-swimming-1:before { content: '\e9af'; } /* '' */
.icon-tea:before { content: '\e9b0'; } /* '' */
.icon-water-1:before { content: '\e9b1'; } /* '' */
.icon-watermelon:before { content: '\e9b2'; } /* '' */
.icon-weighing-scale:before { content: '\e9b3'; } /* '' */
.icon-yin-yang-1:before { content: '\e9b4'; } /* '' */
.icon-yoga-ball:before { content: '\e9b5'; } /* '' */
.icon-008-whistle:before { content: '\ee85'; } /* '' */
