.preloader-alfa{
    position:fixed;
    background:url(../img/preloader.gif) center no-repeat rgba(255,255,255, .85);
    z-index:990;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
    display:none;
    padding-bottom:5px;
}