//##Strenght Sensei Vars
@white: #FFFFFF;
@black: #282520;
@state-info-text: #9c9b9c;
@darkGreen: #3a5858;
@lightGreen: #45797b;
//## Mixins
.transition(@arguments) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    transition: @arguments;
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow: @string;
    box-shadow: @string;
}

.keyframes(@name;
@arguments) {
    @-moz-keyframes @name {
        @arguments();
    }
    @-webkit-keyframes @name {
        @arguments();
    }
    @keyframes @name {
        @arguments();
    }
}

.animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    animation: @arguments;
}

.animation-duration(@arguments) {
    -webkit-animation-duration: @arguments;
    -moz-animation-duration: @arguments;
    animation-duration: @arguments;
}

.animation-delay(@arguments) {
    -webkit-animation-delay: @arguments;
    -moz-animation-delay: @arguments;
    animation-delay: @arguments;
}

.animation-name(@arguments) {
    -webkit-animation-name: @arguments;
    -moz-animation-name: @arguments;
    animation-name: @arguments;
}

.animation-fill-mode(@arguments) {
    -webkit-animation-fill-mode: @arguments;
    -moz-animation-fill-mode: @arguments;
    animation-fill-mode: @arguments;
}

.animation-timing-function(@arguments) {
    -webkit-animation-timing-function: @arguments;
    -moz-animation-timing-function: @arguments;
    animation-fill-timing-function: @arguments;
}

.center-vertical() {
    top: 50%;
    .translate(0, -50%);
}