/*
    Necessary for Mobile, Tablet and Desktop
*/

.grid-view-loading {
    &:after {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/preloader.gif") no-repeat center center rgba(255, 255, 255, 0.84);
        width: 100%;
        height: 100%;
        top: 0;
        background-size: 23%;
        @media @tablet {
            background-size: 7%;
        } 
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    color: @body-bg;
    padding-bottom: 56px;
    @media @tablet {
        padding-bottom: 70px;
    }
    header {
        .header-logo {
            border-top: 4px solid @darkGreen;
            border-bottom: 4px solid @darkGreen;
            margin: 10px 0;
            background: @black;
            img {
                margin: 0 auto;
            }
        }
        .navbar {
            background: @lightGreen;
            .nav {
                &.navbar-right {
                    //margin: 0;
                    @media @tablet {
                        margin-right: 15px!important;
                    }
                }
                li {
                    img {
                        @media @tablet {
                            width: 137px;
                            padding: 5px;
                            margin: 0 53px;
                        }
                    }
                }
            }
            @media @tablet {
                background: @black;
            }
            .navbar-header {
                background: url(../img/logo-Mobile.png) no-repeat 25px center;
                background-size: 150px;
            }
            .navbar-toggle {
                border: none;
                .icon-bar {
                    background-color: @white;
                    width: 29px;
                    height: 5px;
                    border-radius: 8px;
                    position: relative;
                    .transition(all .3s ease);
                    &:nth-child(2) {
                        top: 0px;
                        .rotate(0deg);
                    }
                    &:nth-child(3) {
                        visibility: visible;
                    }
                    &:last-of-type {
                        bottom: 0px;
                        .rotate(0deg);
                    }
                }
                &.open-hamburguer {
                    .icon-bar {
                        &:nth-child(2) {
                            top: 9px;
                            .animation-duration(.2s);
                            .animation-delay(.2s);
                            .animation-name(topImg);
                            .animation-fill-mode(forwards);
                            .animation-timing-function(ease);
                        }
                        .keyframes(topImg;
                        {
                            from {
                                .rotate(0deg);
                            }
                            to {
                                .rotate(45deg);
                            }
                        }
                        );
                        &:nth-child(3) {
                            visibility: hidden;
                        }
                        &:last-of-type {
                            bottom: 9px;
                            .animation-duration(.2s);
                            .animation-delay(.2s);
                            .animation-name(bottomImg);
                            .animation-fill-mode(forwards);
                            .animation-timing-function(ease);
                        }
                        .keyframes(bottomImg;
                        {
                            from {
                                .rotate(0deg);
                            }
                            to {
                                .rotate(-45deg);
                            }
                        }
                        );
                    }
                }
            }
        }
    }
    .main-container {
        background: @body-bg;
        .white-border-radius {
            background-color: #FFFFFF;
            margin: 0;
            margin-top: 43px;
            padding: 5px;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            .border-radius();
            .box-shadow(7px 7px 0 fade(@black, 40%));
            .container-avatar{
                &>div{
                    &:nth-child(2){
                        //position: relative;
                        //bottom: 13px;
                    } 
                }                
            }
            .form-container {
                @media @desktop {
                    padding: 0;
                    margin-top: 40px;
                }
            }
            #content {
                .main-content {
                    margin: 13px 0;
                }
            }
            div {
                img {
                    width: 50%;
                    height: auto;
                    margin: 0 auto;
                    display: block;
                    border: 6px solid white;
                    margin-top: 30px;
                    position: relative;
                    z-index: 1;
                    .box-shadow(0 0 2px 4px fade(@state-info-text, 25%));
                    @media @tablet {
                        margin-top: 0;
                        width: 70%;

                        //margin-left: 0;
                    }
                }
                .userInfoImg{
                    margin-top: 19px;
                }
            }
            hr {
                border-top: 2px solid fade(@state-info-text, 25%);
                &.form-separator {
                    border-top: 2px solid fade(@state-info-text, 25%);
                    position: relative;
                    left: -49px;
                    width: 180%;
                    z-index: 0;
                    @media @tablet {
                        margin: -36px 0 0 -42px;
                    }
                    @media @desktop {
                        margin: -28px 0 0 -42px;
                    }
                    @media @wideDesktop {
                        margin: -49px 0 0 -42px;
                    }
                }
            }
            h1 {
                padding-left: 15px;
                @media @desktop {
                    font-size: 50px;
                    padding-left: 0px;
                }
                @media @wideDesktop {
                    font-size: 60px;
                }
            }
            h3 {
                padding-left: 15px;
                color: @state-info-text;
                font-size: 15px;
                @media @tablet {
                    margin-top: 0;
                    padding-left: 15px;
                }
                @media @desktop {
                    padding-left: 0px;
                    font-size: 20px;
                }
            }
            p {
                color: @black;
            }
            .list-group {
                margin-bottom: 0px;
            }
            @media @tablet {
                margin: 70px 0 20px;
                padding: 20px;
            }
            @media @desktop {
                padding: 70px 90px;
            }
            #recipes-form{
                #choose-container{
                    padding: 10px;
                    border:1px solid #CECECE;
                    margin-bottom: 10px;
                     .border-radius(7px);
                    .row{
                        &.moment{                            
                            .border-radius(7px);
                            margin-bottom: 4px;
                            margin-right: 0px;
                            margin-left: 0px;
                            .form-group{
                                margin-bottom: 10px;
                            }
                            &:nth-child(even){
                                background: fade(@lightGreen,8%)!important;
                            }
                            &:nth-child(odd){
                                background: fade(@lightGreen,21%)!important;
                            }
                        }
                    }
                }
            }
        }
        form {
            .input-group-addon {
                color: @body-bg;
            }
            input[type="radio"],
            input[type="checkbox"] {
                opacity: 0.01;
                width: 0px;
            }
            input[type="radio"]+label {
                background: url(../img/radio.png) no-repeat;
            }
            input[type="checkbox"]+label {
                background: url(../img/check.png) no-repeat;
            }
            input[type="radio"] + label {
                background-position: 0px 10%;
                padding-left: 25px;
                margin-right: 6px;
                margin-top: 9px;
            }
            input[type="radio"]:checked + label {
                background-position: 0px 92%;
            }
            input[type="checkbox"] + label {
                background-position: 0px 10%;
            }
            input[type="checkbox"]:checked + label {
                background-position: 0px 92%;
            }
            .radio,
            .checkbox {
                label {
                    margin-left: 15px;
                    padding-left: 30px;
                }
            }
            .redactor-box{
                    border: 2px solid #ccc;
                    .border-radius(4px);
            }
        }
    }
    footer {
        background-color: @black;
        color: @white;
        text-align: center;
        position: absolute!important;
        bottom: 0;
        width: 100%;
        padding: 20px;
    }
    //Alert messages
    .alert {
        border: 2px solid transparent;
        .border-radius(2px);
        margin-bottom: 10px;
        position: relative;
        background: whitesmoke;
        ul {
            list-style: none;
            margin-bottom: 0;
            padding: 6px;
            li {
                div {
                    color: @state-info-text;
                }
            }
        }
        &:after {
            display: block;
            font-size: 23px;
            position: absolute;
            right: 10px;
            //top: 0;
            font-family: 'FontAwesome';
            .center-vertical();
        }
        &.error {
            //border: 2px solid #D05135;
            border: 2px solid transparent;
            ul {
                li {
                    div {
                        color: #D05135;
                    }
                }
            }
            &:after {
                content: "\f00d";
                color: #26B547;
            }
        }
        &.success {
            //border: 2px solid #26B547;
            border: 2px solid transparent;
            ul {
                li {
                    div {
                        color: #26B547;
                    }
                }
            }
            &:after {
                content: "\f00c";
                color: #26B547;
            }
        }
        &.info {
            //border: 2px solid #E2E2E2;
            border: 2px solid transparent;
            ul {
                li {
                    div {
                        color: #696969;
                    }
                }
            }
            &:after {
                content: '\f05a';
                color: #696969;
            }
        }
    }
    // color:red;
    // @media @tablet {
    //  color:blue;
    // }
    // @media @desktop {
    //  color:green;
    // }
    // @media @wideDesktop {
    //  color:purple;
    // }
}
