/*
	Necessary for Mobile, Tablet and Desktop
*/

body {
    .main-container {
        &.login {
            form {
                .form-group {
                    margin-bottom: 25px;
                }
            }
            .white-border-radius {
                opacity: 0;
                margin-top: 25px;
                .animation-duration(.4s);
                .animation-delay(.2s);
                .animation-name(fadebottom);
                .animation-fill-mode(forwards);
                .animation-timing-function(ease);
            }
            .keyframes(fadebottom;
            {
                from {
                    margin-top: 25px;
                    opacity: 0;
                }
                to {
                    margin-top: 8px;
                    opacity: 1;
                }
            }
            );
        }
    }
    @media @tablet {}
    @media @desktop {}
}