.modal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                text-align: center;
                img {
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                    @media @tablet {
                        width: 70%;
                    }
                }
            }
        }
    }
}

