.table-responsive {
    input[name^=Course],
    input[name^=Product],
    input[name^=Users] {
        width: 100%;
        isplay: block;
        //height: 582px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        .border-radius(4px);
    }
    @media @desktop {
        overflow: initial;
    }
}
.analysis-table{
    position: relative;
    font-family: Arial, Sans-serif;
    margin-bottom: 31px;
    table{
        width: 100%;
        border: 2px solid #FFFFFF;
        tr{
            th{
                background: @lightGreen;
                color: @white;
                font-weight: 300;
                padding: 3px 6px;
                font-weight: bold;
                text-align: center;
            }
            td{
                text-align: center;
            }
            &:nth-child(odd) {
                td {
                    background: #DDDDDD;
                    color: #737373;
                    border: 1px solid #CECECE;
                    text-align: center;
                }
            }
            &:nth-child(even) {
                td {
                    background: #EFEFEF;
                    color: #737373;
                    border: 1px solid #CECECE;
                    text-align: center;
                }
            }
            &:nth-child(2) {

            }
            &.featured{
                td{
                    color: #FF412D;
                    background: white;
                    border-right: 1px solid transparent;
                    border-top: 2px solid  #FF412D;
                    border-bottom: 2px solid  #FF412D;
                    strong{
                        height: 25px;
                        display: block;
                        line-height: 25px;
                    }
                    &:last-of-type{
                        border-right: 2px solid red;
                    }
                    &:first-of-type{
                        border-left: 2px solid red;
                    }
                }
                
            }
        }
    }
    
}
.measures-table {
    position: relative;
    font-family: Arial, Sans-serif;
    overflow-x: auto;
    table{
        font-size: 11px;
    }
    .left-arrow,
    .right-arrow {
        text-align: center;
        position: fixed;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        width: 50px;
        color: @white;
        bottom: 0;
        z-index: 5;
        -webkit-backface-visibility: hidden;
        .transition(all .6s cubic-bezier(0.680, -0.550, 0.265, 1.550));
        &:before {
            position: relative;
            .center-vertical();
            font-size: 35px;
        }
        // @media @desktop {
        //     display: none;
        // }
    }
    .left-arrow {
        &.open {
            left: -5px;
            opacity: 1;
        }
        &.close {
            left: -70px;
            opacity: 0;
        }
    }
    .right-arrow {
        &.open {
            right: -5px;
            opacity: 1;
        }
        &.close {
            right: -70px;
            opacity: 0;
        }
    }
    tr {
        th {
            background: @lightGreen;
            color: @white;
            font-weight: 300;
            padding: 3px 6px;
            border: 1px solid @white;
            font-weight: bold;
            text-align: center;

            span {
                .rotate(-90deg);
                display: block;
                position: absolute;
                margin-left: -23px;
                //width: 24px;
                @media @tablet {
                    margin: 0;
                    position: relative;
                    top: 25px;
                }
                &:before{
                    content: "\00a0 \00a0 \00a0";
                }
            }
            &.plus-symbol {
                background: #EFEFEF;
                color: @lightGreen;
                font-size: 40px;
                text-align: center;
            }
        }
        td {
            background: #EFEFEF;
            color: #737373;
            border: 1px solid #CECECE;
            font-weight: bold;
            text-align: center;
        }
        &:first-child {
            th {
                height: 80px;
                max-width: 36px;
                //vertical-align: bottom;
                 @media @tablet {
                    height: 50px;
                 }
                @media @desktop {
                    height: inherit;
                }
                &.plus-symbol {
                    cursor: pointer;
                    &:hover {
                        background: @lightGreen;
                        color: white;
                    }
                    @media @desktop {
                        //padding: 0 37px;
                    }
                }
            }
        }
        &:nth-child(odd) {
            td {
                background: #DDDDDD;
                color: #737373;
                border: 1px solid #CECECE;
                font-weight: bold;
                text-align: center;
            }
        }
    }
    #switch-btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
        background: @lightGreen;
        z-index: 5;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0;
        .box-shadow(0 10px 20px 10px black);
        .transition(all .6s cubic-bezier(0.680, -0.550, 0.265, 1.550));
        li {
            display: inline-block;
            width: 33.33333%;
            text-align: center;
            color: white;
            cursor: pointer;
            line-height: 40px;
            margin-left: -3px;
            border-right: 1px solid white;
            font-weight: 700;
            position: relative;
            &:hover {
                background: fade(@black, 60%);
            }
            &.selected {
                background: fade(@black, 40%);
                &:after{
                    content: "";
                    display: block;
                    width: 0px;
                    height: 0px;
                    border-bottom: 12px solid #3A5756;
                    border-top: 30px solid transparent;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    position: absolute;
                    top: -42px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
        @media @tablet {
            display: none;
            visibility: hidden;
        }
        &.hide-bar{
            bottom: -54px;
        }
    }
}